.card,
.card-img-top{
    width: 400px;
    height: 200px;
    padding: 0%;
}
.card{
    margin: 5px;
}
.card-btn{
    width: 70%;
    height: 40%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .card {
      display: inline-block;
      max-width: 200px;
      white-space: initial;
  }
  .cardHolder{
    display: flex;
  }
  .like-btn{
    width: 20%;
    float: right;

  }